<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<br>

<%= link_to "Edit", edit_post_path(@post) %>

<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Really delete the post? How sure are you?"} %>


<br><br>

<h3>Comments (<%= @post.comments.size %>)</h3>
<%= render partial: 'posts/comment', collection: @post.comments %>

<br><br>

<%= render partial: 'comments/form' %>
<%= link_to "<< Back to Posts List", posts_path %>


